//EN ESTA CARPETA VA UNA GUIA DE ESTILOS COMO FUENTES COLORES
// POR LO GENERAL TIENEN DOS ESTILOS DE FUENTE UNA PARA LOS TITULOS MAS LLAMATIVO QUE EL TEXTO
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap');
$main-title:"Montserrat";
$big-title:600;
$regular-title:400;


@import url('https://fonts.googleapis.com/css?family=Cabin:400,600&display=swap');
$main-font:"Cabin";
$font-regular:400;
$font-bold:600;