//- EN ESTE ARCHIVO GUARDAREMOS LAS VARIABLES QUE NECESITEMOS PARA LA CONSTRUCCION DE LA PAGINA EN ESTE CASO PARA ESTA PAGINA
//- SOLO VAMOS A TENER DOS VARIABLES 

//-este array contiene los nombres de las paginas de nuestro sitio web lo recorremos para crear los links del menu
//- para navegar y como se va a repetir en todas las paginas que creemos lo pondremos en la carpeta INCLUDE por que es algo
//- que vamos a repetir en muchos sitios
-const pages=['index','abaut','contact']